<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input type="button" value="submit" onclick="newfn()">
    <!-- <script> 
        document.write("hello")
        document.write("<h1>welcome</h1>")
        studentId = 10;
        admissionNo = 101
        username = "vandana"
        console.log(username)
        console.log(typeof(studentId))
        // console.log(studentId + admissionNo)
    </script>-->
    <script>
        outside = "global variable"
        var x = 10
        var y = 11
        var y = "hi"
        function  newfn()
        {
            var x = 2;
            
            console.log(outside)
            alert("success")
            prompt("enter your password")
            confirm("are you sure you want to logout?")
        }

        console.log(outside)
        console.log(x)
        
        // console.log(inside_var)
    </script>
    
</body>
</html>