<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        rev=0
        n = parseInt(prompt("enter a no:"))
        x = n
        while(n!=0)
        {
            r= n%10
            rev = (rev*10) +r
            n = parseInt(n/10)
        }
        if(x==rev)
        {
            console.log("palindrome")
        }
        else
        {
            console.log("not palindrome")
        }
    </script>
</body>
</html>