{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row row-cols-3">
          <div class="col"><div class="item" >
            <img src="{% static 'images/glowingblack.jpg' %}" alt="">
            <h3>realme C35 blue</h3><br><br><br>
        <ul>
                <li>6 GB RAM | 128 GB ROM | Expandable Upto 256 GB</li>
                <li>   16.26 cm (6.4 inch) Full HD+ Display</li> 
                <li> 64MP + 8MP + 2MP + 2MP | 16MP Front Camera</li> 
                <li>   5000 mAh Battery</li> 
                <li>  MediaTek Helio G95 Processor</li>  
                 
            </ul>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger">ADD TO CART</button>
            <button type="button" class="btn btn-warning">BUY NOW</button>
        </div></div>
          <div class="col"><div class="item">
            <img src="{% static 'images/glowinggreen.jpg' %}" alt="">
            <h3>realme C35 green</h3><br><br><br>
            <ul>
            <li>4 GB RAM | 64 GB ROM | Expandable Upto 1 TB</li>
            <li>16.76 cm (6.6 inch) Full HD+ Display</li>
            <li>50MP + 2MP + 0.3MP | 8MP Front Camera</li>
            <li>5000 mAh Lithium Polymer Battery</li>

            </ul>&nbsp;&nbsp;&nbsp;

            <button type="button" class="btn btn-danger">ADD TO CART</button>
            <button type="button" class="btn btn-warning">BUY NOW</button>
        </div></div>
          <div class="col"><div class="item">
            <img src="{% static 'images/realme8.jpg' %}" alt="">
            <h3>realme 8</h3><br><br><br>
            <ul>
                <li>GB RAM | 128 GB ROM | Expandable Upto 256 GB</li>
                <li>16.26 cm (6.4 inch) Full HD+ Display</li>
                <li>64MP + 8MP + 2MP + 2MP | 16MP Front Camera</li>
                <li>5000 mAh Battery</li>
                <li>MediaTek Helio G95 Processor</li>
                <li>Super AMOLED Display</li>
            </ul> &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger">ADD TO CART</button>
            <button type="button" class="btn btn-warning">BUY NOW</button>
        </div></div>
          <div class="col"><div class="item">
            <img src="{% static 'images/realme9i.jpg' %}" alt="">
            <h3>realme 9i</h3><br><br><br>
            <ul>
                <li>4 GB RAM | 64 GB ROM | Expandable Upto 1 TB</li>
                <li>cm (6.6 inch) Full HD+ Display</li>
                <li>50MP + 2MP + 2MP | 16MP Front Camera</li>
                <li> mAh Lithium ion Battery</li>
                <li>ualcomm Snapdragon 680 (SM6225) Processor</li>
            </ul>&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger">ADD TO CART</button>
            <button type="button" class="btn btn-warning">BUY NOW</button>
        </div></div>
        <div class="col">
            <div class="item">
                <img src="{% static 'images/realme82.jpg' %}" alt="">
                <h3>realme 8</h3><br><br><br>
                <ul>
                <li>GB RAM | 128 GB ROM | Expandable Upto 256 GB</li> 
                 <li> 16.26 cm (6.4 inch) Full HD+ Display</li>  
                 <li>  64MP + 8MP + 2MP + 2MP | 16MP Front Camera</li> 
                  <li>5000 mAh Battery</li> 
                  <li>MediaTek Helio G95 Processor</li> 
                  <li>Super AMOLED Display</li> 
                  </ul>&nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-danger">ADD TO CART</button>
                <button type="button" class="btn btn-warning">BUY NOW</button>
            </div>
        </div>
        <div class="col">
            <div class="item">
                <img src="{% static 'images/realmec20.jpg' %}" alt="">
                <h3>realme C20</h3><br><br><br>
                <ul>
                <li> GB RAM | 32 GB ROM | Expandable Upto 256 GB</li>
                <li>16.51 cm (6.5 inch) HD+ Display</li>
                <li>8MP Rear Camera | 5MP Front Camera</li>
                <li>5000 mAh Battery</li>
                <li>MediaTek Helio G35 Processor</li>
                </ul>&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger">ADD TO CART</button>
                <button type="button" class="btn btn-warning">BUY NOW</button>
            </div>
        </div>
        </div>
      </div>
</body>
</html>